<meta charset="UTF-8">
{{ if .IsHome }}
<title>{{ .Site.Title }} - {{ .Site.Params.SubTitle }}</title>
{{ else }}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="{{ .Site.Author.name }}">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

{{ if or (.IsHome) (ne .Page.Type "page") }}
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:url" content="{{ .Permalink }}">


{{ if .IsHome }}
<meta name="twitter:description" content="{{ .Site.Params.SubTitle }}">
{{ else }}
<meta name="twitter:description" content="{{ .Summary }}">
{{ end }}


{{ end }}

<link rel="canonical" href="{{ .Permalink }}" />

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Source+Sans+Pro:200,300,400,600,700,900&display=swap" rel="stylesheet">

{{ $options := (dict "targetPath" "site.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "scss/site.scss" | resources.ToCSS $options | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">